<template>
  <div class="form-group">
    <label :for="inputName">{{ label || '&nbsp;' }}</label>
    <input type="text"
           :name="inputName"
           :value="modelValue"
           @input="$emit('update:modelValue', $event.target.value)"
           class="form-control"
           v-bind="$attrs">
  </div>
</template>

<script lang="ts">
import {defineComponent} from "vue";

export default defineComponent({
  inheritAttrs: false,

  props: {
    label: {
      type: String,
      required: false
    },
    modelValue: {
      type: [String, Number],
      default: ""
    },
    inputName: {
      type: String,
      required: false
    }
  }
});

</script>

<style scoped>

</style>