<template>
  <div class="mt-4">
    <h2>Leaderboard</h2>
    <ol>
      <li v-for="score in leaderboard" :key="score.name">
        {{score.name}}: {{score.guessCount}}
      </li>
    </ol>
  </div>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import {Score} from "../model/Score";

export default defineComponent({
  name: "Leaderboard",

  props: {
    leaderboard: {
      type: Array as Array<Score>
    }
  }
});
</script>

<style scoped>

</style>