<template>
  <GuessingGame :difficulty="100" />
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import GuessingGame from "./components/GuessingGame.vue";

export default defineComponent({
  name: 'App',
  components: {
    GuessingGame
  }
})
</script>

<style>
</style>
